# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = scrapy.dmoz.settings
#default = scrapy.statsgov.settings

[deploy]
project = dmoz
